:root {
  font-family: "Lobster Two", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.font-lobster-two {
  font-family: "Lobster Two", Inter, Avenir, Helvetica, Arial, sans-serif !important;
}

.italic {
  font-style: italic;
}

.ml-10 {
  margin-left: 10px;
}